@import "./_vars";
@import "./_reset";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 10px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background: var(#{--body-bg-default});
}

body * {
  transition: 0.3s;
}

@media (max-width: 420px) {
  html {
    font-size: 8px;
  }
}
