@import "../../styles/_vars";
.card {
  position: relative;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: $box-shadow;
  padding: 4rem 4rem;
  flex-grow: 12;
  background: var(#{--components-bg-default});
  transition: 0.3s;
  &::after {
    position: absolute;
    content: url("../../assets/img/cloud.png");
    height: 100%;
    width: 100%;
    left: 47%;
    top: 1%;
    z-index: -1;
  }
  .position {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
  }
}
